@media (max-width: 768px) {
  * {
    transition: none !important;
    box-shadow: none !important;
  }
}
.fullform{
  max-width: 1000px;
}
.consumerPdf{
  width: 100%;
}
.form-styles{
  max-width: 200px;
}
.signbox{
   max-width: 200px;
  height: 100px;
  border: 1px solid #000;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}

