.signature-canvas-wrapper canvas {
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* Prevent pull-to-refresh on mobile when drawing */
body.signature-drawing {
  overscroll-behavior: none;
  overflow: hidden;
}